/* Your custom styles */
.form-control {
    border: 5px solid #007bd2;
}

.body {
    padding-bottom: 50px
}

.title {
    padding-top: 50px
}

.input-field {
    width: 100%
}

.login {
    padding-right: 30px
}

.brand {
    padding-left: 20px
}
